<ion-view title="Login" id="page2" ng-controller="loginCtrl">
    <ion-content overflow-scroll="true" padding="true" scroll="false">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form class="list">
            <div class="spacer" style="width: 283px; height: 27px;"></div>
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="UserName" ng-model="email"></input>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="password"></input>
                </label>
                
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button ng-click="logIn(email,password)" id="login-button1" class="button button-stable  button-block">Log in</button>
            <a ui-sref="signup" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>