<ion-view title="Set Picture" id="page5" style="background-color:#249494;">
    <ion-content overflow-scroll="true" padding="true" scroll="false">
    <div class="card">

	  <div class="item item-avatar">
	    <h2>Welcome to RoomMate</h2>
	    <p>{{user.name}}</p>
	  </div>

	  <div class="item item-image">
	    <img src="/img/default.png">
	  </div>

	
	   <!--<div class="item item-button-left item-button-right">-->
	   <div class="row">
	   <button class="button button-clear col col-67" > <i class="icon ion-edit"></i>
	    Change Picture </button>
	    
	    <button class="button button-clear col col-33" id="profile-changePhoneButton">Skip <i class="icon ion-ios-arrow-right positive"></i></button>
	    </div>
	  
	   
	</div>
    </ion-content>
</ion-view>